/* your styles go here */

.green {
	color: #58b947;
}

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

.intro {
	background: none;	
}


header img {
	margin-top: 4%;
}

.btn-circle {
	border: #FFFFFF solid 1px;
}

.btn-circle:hover {
	border: #FFFFFF solid 2px;
}

.display {
	opacity: 0;
}

a {
	color: #ffffff;
}

a:hover {
	color: #58b947;
}

h2.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px 0 20px;
  background: #58b947;
}


#about, #skills, #portfolio, #resume {
	padding: 5%;
	width: 100%;
}


.btn-lg {
	color: white;
	border-radius: 0;
	border: solid gray 2px;
	background-color: transparent;
	margin-top: 10px;
}

.btn-lg:hover {
	border-color: #58b947;
}

.modal-dialog {
	max-width: 840px !important;
}

.modal img
{
	width: 100%;
}


.service-box {
	margin-top: 5%;
}

.img-circle {
	width: 80%;
}

.portfolio-box {
	margin: 3%;
}

#logo {
	visibility: hidden;
	margin-right: -100px;
	padding-top: 10px;
}

.top-nav-collapse #logo {
	visibility: visible;
}



body, html {
    height: 100%;
}


.parallax {
    /* The image used */
    background-image: url(http://SaraMaeCreate.github.io/img/me.jpg);
	
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
	padding-top: 5%;
	
    /* The image used */
    background-image: url(http://SaraMaeCreate.github.io/img/parallax.jpg);
	
    /* Full height */
    height: 150%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.service-box i {
	color: #58b947;
	margin-bottom: 4%;
}

.service-box h3 {
	margin-bottom: 1%;
}

.portfolio-box .portfolio-box-caption {
	background: rgba(2, 204, 0, 0.8);
}

.portfolio-box {
	 margin: 0px 0px 4px 4px;
	 padding: 0;
}

a:focus {
	color: #58b947;
}


#resume h2 {
	margin-bottom: 1%;
}


.modal {
	color: gray;
}




