
  
/*extra small*/

@media screen and (max-width: 367px) {
	
.portfolio-box {
	width: inherit;
}


#skills h2 {
	font-size: 24px;
}

#skills h3 {
	font-size: 18px;
}

.parallax {
	background-image: none;
}

.parallax2 {
	background-image: none;
}
	
#Headshot {
	width: 60%;
	margin-top: 0%;
}

#pdf {height: 500px;}
	
}

/*small*/

@media screen and (min-width: 368px) and (max-width: 800px) {

.portfolio-box {
	width: inherit;
}

#skills h2 {
	font-size: 24px;
}

#skills h3 {
	font-size: 18px;
}

.parallax {
	background-image: none;
}

.parallax2 {
	background-image: none;
}

#logo {
	margin-right: -30px;
}
	
#Headshot {
	width: 60%;
	margin-top: 0%;
}
	
#pdf {height: 500px;}

}
	
	 
	


/*medium*/
@media screen and (min-width: 801px) and (max-width: 1199px) {

#Headshot {
	width: 30%;
	margin-top: 10%;
}

.parallax2 {
    height: 170%;
}
	
#pdf {height: 700px;}	

} 




/*large*/

@media screen and (min-width: 1200px) {


#Headshot {
	width: 20%;
	margin-top: 10%;
}

.parallax2 {
    height: 100%;
}

.service-box {
	margin-top: 16%;
}
	
#pdf {height: 700px;}	

}






